
body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #353635;
}

.logo{
	
	float: left;
	margin-left:2.5%;
	height: 100px;
	
}

.header {
	
	height: 150px;
	
}

.navbar {
	overflow: hidden;
	background-color: lime;
	float:right;
	margin-top:30px;
	margin-right:2.5%;
  

}

.navbar a {
	float: left;
	font-size: 20px;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.dropdown {
	float: left;
	overflow: hidden;
}

.dropdown .dropbtn {
	font-size: 20px;  
	border: none;
	outline: none;
	color: black;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
	background-color:lime;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
}

.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: grey;
}

.dropdown:hover .dropdown-content {
	display: block;
}
.career{
    background-color:lime;
    margin-top: 45px;
	margin:auto;
	width:95%;
}

.pic6{
    float:right;
    padding:10px;
}

.h1,h2,p,h3{
    font-family: helvetica;
}

.pic7{
    float:right;
    padding:10px;
}

.pic8{
    float:right;
    padding:10px;
}

.pageTopButton{
	display:flex;
	margin-top:25px;
	justify-content:center;
}

.pageTopButton button{
	height:50px;
	background-color:lime;
}

.pageTopButton a:link{
	color:white;
	text-decoration: none;
}
.pageTopButton a:visited{
	color: white;
	text-decoration: none;
}

footer{
	text-align: center;
	height:50px;

	background-color:lime;
	margin-top:25px;
	margin:auto;
	width:95%;

}

footer p{
	color:white;
}