

.pageHeading {

	text-align: center;
	color: white;

}
body {
	background-color: #353635;
	font-family: "Courier New", Courier, monospace;

}

.logo{
	
	float: left;
	margin-left: 2.5%;
	
	height: 100px;
	
}

.header {
	
	height: 150px;
	
}

.header h1 {
	font-size: 50px;
}

.navbar {
	overflow: hidden;
	background-color: lime;
	float:right;
    margin-top: 30px;
	margin-right: 5%;
  

}

.navbar a {
	float: left;
	font-size: 20px;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.dropdown {
	float: left;
	overflow: hidden;
}

.dropdown .dropbtn {
	font-size: 20px;  
	border: none;
	outline: none;
	color: black;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
	background-color: green;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
}

.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: grey;
	color: lime;
}

.dropdown:hover .dropdown-content {
	display: block;
}







table{
	align-content: center;
	margin: auto;
	float: left;
	color:white;
	width: 100%;
	padding: 50px 50px 25px 50px;
	
	
}



table td, table th {
    border: 1px solid white;
	padding: 8px;
	
}
  

  
table tr:hover {
	background-color: white;
	color: lime;
}

table tr{

	height: 100px;
	font-size: 25px;
}
  
table th {
	font-size: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: lime;
    color: white;
}


/*FOOTER*/
footer{
	text-align: center;
	
	height: 50px;
	padding-top: 10px;
	background-color: lime;
	
	margin-bottom: 1;
}
footer p{
	color: white;
}