

#pageHeading {

	text-align: center;
	color: white;
	font-size: 50px;
	font-family: 'Courier New', Courier;
	font-weight: bold;
	margin-top: 30px;
	margin-bottom: 35px;

}
body {
	background-color: #353635;
	font-family: "Courier New", Courier, monospace;

}



.logo{
	
	float: left;
	margin-left: 2.5%;
	
	height: 100px;
	
}

.header {
	
	height: 150px;
	
}



.navbar {
	overflow: hidden;
	background-color: lime;
	float:right;
    margin-top: 30px;
	margin-right: 5%;
  

}

.navbar a {
	float: left;
	font-size: 20px;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.dropdown {
	float: left;
	overflow: hidden;
}

.dropdown .dropbtn {
	font-size: 20px;  
	border: none;
	outline: none;
	color: black;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
	background-color: green;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
}

.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: grey;
	color: lime;
}

.dropdown:hover .dropdown-content {
	display: block;
}

#invertColoursButton{
	width:200px;
	height: 40px;
	margin-top:100px;
	margin-left: -10.5%;
	font-size: 15px;
	font-weight: bold;
	
}
/* ----------------------------------------------------------------------------------------- */
/*INFORMATION BOXES*/

#firstInformationBox{

	margin-top: 50px;
}

.informationBox{

	height: 300px;
	width: 95%;
	margin:auto;
	margin-top:25px;
	background-color: lime;
	

}
.animationInformation{
	
	font-size: 15px;
	height: 10px;
	width: 200px;
	float: right;
	margin-right: 50px;

	margin-top: 30px;

	
}
.informationBox h1{
	font-size: 40px;
	padding-top: 10px;
	color: white;
	text-shadow: 1px 1px black;

}

.informationBoxBody {
	font-size: 20px;
}

.informationBox h1,p{
	
	margin-left: 25px;
}

#computingBallImg img{
	height:200px;
	width:200px;
}




/*-------------------------------------------------------------------------------------------*/

/*PAGE TOP BUTTON*/
.pageTopButton{
	display: flex;
	margin-top:25px;
	justify-content: center;
	

}



.pageTopButton button{
	height: 50px;
	width: 500px;
	background-color:lime;
}
.pageTopButton a:link {
	color: white;
	text-decoration: none;
	font-size: 20px;
  }

.pageTopButton a:visited {
	color: white;
	text-decoration: none;
}
/*----------------------------------------------------------------------*/


/*IMAGE CUBES*/

	.cubeWrapper{
		float:right;
		margin-right: 50px;
		padding-left: 50px;
	}
	.cube{
		height: 200px;
		width: 200px;
		position: relative;
		transform-style:preserve-3d;
	/* animation: cube-rotation 5s */;
	}
	.cube img{
		width:200px;
		height:200px;
	}
	.cubeSide{
		position: absolute;
		height: 100%;
		width: 100%;
		
		display: flex;
		align-items: center;
		justify-content: center;

	}

	/*.top{
		background: blue;
		transform: rotateX(90deg) translateZ(200px);
	}
	.bottom{
		background: yellow;
		transform: rotateX(90deg) translateZ(-200px);
	}*/
	.right{
		background: green;
		transform: rotateY(90deg) translateZ(100px);
	}
	.left{
		background: red;
		transform: rotateY(270deg) translateZ(100px);
	}
	.front{
		background: violet;
		transform:  translateZ(100px);
	}
	.back{
		background: brown;
		transform: rotateY(180deg) translateZ(100px);
	}

	@keyframes cube-rotation
		{
			0%{transform:rotateY(0deg)}
	
		100%{
			transform:rotateY(-90deg )
		}
	}
/*----------------------------------------------------------------------*/


/*FOOTER*/
footer{
	text-align: center;
	
	height: 50px;
	padding-top: 10px;
	background-color: lime;
	margin-top: 25px;
}
footer p{
	color: white;
}