.resource {
	
	text-align: left;
	margin-top: 70px;
	height: 350px;
	margin-left: 5%;
	margin-right: 5%;
	background-color: lime;
	padding-top: 10px;
}

.resource > img {
	
	float:right;
	position: relative;
	width: 210px;
	margin-right: 20px;
	
}

.resource > p {
	
	font-size: 23px;
	color: black;
	font-family: "Courier New", Courier, monospace;
	float: left;
	width: 75%;
	margin-left: 20px;
	
}

.resource > h2{
	
	font-family: "Courier New", Courier, monospace;
	color: white;
	font-size: 30px;
	margin-left: 20px;
	text-shadow: 1px 1px black;
	
}

#pageHeading {

	text-align: center;
	color: white;
	font-size: 50px;
	font-family: 'Courier New', Courier;
	font-weight: bold;
	margin-top: 30px;
	margin-bottom: 35px;
	
}


.pageTopButton{
	display: flex;
	margin-top:25px;
	justify-content: center;
	

}

.pageTopButton button{
	height: 50px;
	width: 500px;
	background-color:lime;
}
.pageTopButton a:link {
	color: white;
	text-decoration: none;
	font-size: 20px;
  }

.pageTopButton a:visited {
	color: white;
	text-decoration: none;
}

footer{
	
	text-align: center;
	height: 50px;
	padding-top: 10px;
	background-color: lime;
	margin-top: 25px;
}

footer p{
	
	color: white;
}

.dropdown-content :hover{
	
	color: green;
	
}

#invertColoursButton{
	width:200px;
	height: 40px;
	margin-top:50px;
	font-size: 15px;
	font-weight: bold;
	margin-left: 95px;
	
}
