body {
	font-family: "Courier New", Courier, monospace;
	background-color: #353635;
	color: green;
}

.logo {
	
	float: left;
	margin: 30px;
	width: 400px;
	
}

.logo > img {
	
	width: 250px;
	
}

.header {
	
	height: 150px;
	
}

.navbar {
	overflow: hidden;
	background-color: lime;
	float:right;
    margin:40px;
	margin-right: 60px;
  

}

.navbar a {
	float: left;
	font-size: 20px;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-weight: bold;
}

.dropdown {
	float: left;
	overflow: hidden;
}

.dropdown .dropbtn {
	font-size: 20px;  
	border: none;
	outline: none;
	color: black;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
	font-weight: bold;
}

.navbar a:hover, .dropdown:hover .dropbtn {
	background-color: green;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
}

.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: grey;
}

.dropdown:hover .dropdown-content {
	display: block;
}